.App {
  text-align: center;
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/*.App-link {
  color: #61dafb;
}*/


/*h1{
  background-color: #E0E0E0;
}*/

/*main{
  background-color: lightblue;
  height: 90vh;
}*/

nav{
  background-color: white;
}

/*form{
  width: 30vw;
  height: 40vh;
  border: 1px solid black;
}*/

/*button{
  
  margin: 0 auto;
}*/

/*li>button{
  width: 64px;
  height: 32px;
}

li>p{
  margin: 0 1rem;
  padding-top: 1rem;
}*/

ul {
  padding-inline-end: 10%;
  padding-inline-start: 10%;
}









